#submitButton {
    background-color: #009688;
    color: white;
    border-radius: 5px;
    margin-top: 5px;
    padding-bottom: 5px;
    border-style: hidden;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.53)

}
#spamTextInput {
    height: 100px;
    width: 100%;
    overflow-y: scroll;
}
#spamForm {
    background-color: whitesmoke;
    padding: 5px;
    margin-top: 10px;
    box-shadow: 2px 3px 14px 0px rgba(0, 0, 0, 0.53);

}
body {
    background-color: transparent;
}